
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
.collection.flex-wrap {
    display: flex;
    flex-wrap: wrap;
  }
  .collection-item {
    flex-basis: calc(33.33% - 20px);
  margin: 10px;
    /* Ajusta los márgenes según sea necesario */
  }
  
.violeta{
    background-color: blueviolet;
}
.nombreDisp{
    color: brown;
    font-weight: bold;
}
.fixed-action-btn{
    top:auto;
    margin-right: 1%;
    margin-top: 3%;
    }